@import '../../../../scss/common/mixins.scss';

.short-forecast__container {
  position: relative;
  display: flex;
}

.short-forecast__title {
  margin-top: 3px;
  @include font($size: 2.2rem, $height: 2.7rem, $weight: 700);
  text-transform: uppercase;
}

.short-forecast__subtitle {
  @include font($size: 8.0rem, $height: 9.8rem, $weight: 600);
}
