$color-primary: rgba(174, 181, 185, 0.5);
$color-additional: #1b1817;
$color-background: #100f13;
$color-link: #1943EF;
$color-tag: #F5F5F5;
$color-text: #FFFFFF;
$color-opacity: rgba(76, 82, 85, 0.4);;
$color-border: #D7D7D7;
$color-hovered: #BCD0E5;
$color-light: #ffffff;
$color-hamburger: #173A56;
$color-overlay: rgba(80, 80, 80, 0.4);
